.main-menu {
    border-bottom: 1px solid #ececec;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-links {
    display: flex;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.menu-links__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0px;
        }
}

.menu-links__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    font-family: var(--primery-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color;
    @extend %transition;

    position: relative;

    &:hover,
    &:focus {
     color: var(--accent-color);
        }
}

.menu-links__link.current.menu-links__link::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.header-contacts {
    column-gap: 50px;
}

.contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    font-family: var(--primery-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color;
    @extend %transition;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts-link__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill;
    @extend %transition;

    .header-contacts a:hover &,
    .header-contacts a:focus & {
        fill: var(--accent-color);
    }
}