.logo {
    margin-right: 93px;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo {
    color: var(--primary-text-color);
}

.logo span {
    color: var(--accent-color);
}

.logo:focus {
    color: var(--accent-color);
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-logo {
    color: var(--second-text-color);
}

.footer-logo span {
    color: var(--accent-color);
}